.container {
    width: 100%;
    height: 80vh;
    padding-top: 2em;
    display: flex;
}

.qualifications_container {
    width: 20%;
    display: flex;
}

.subqualifications_container {
    width: 80%;
    overflow-y: scroll;
}

.qualifications {
    display: flex;
    flex-direction: column;
    margin: 0 0 2em 0;
    list-style-type: none;
    width: 100%;
}

.qualifications li { 
    font-weight: 400;
    cursor: pointer;
    margin: .5em 1em;
    padding: .3em 0;
    height: 1.6em;
}

.qualifications li:hover{
    color: rgb(255, 8, 8);
    font-weight: 600;
}

.qualifications li.selectedQualification {
    color: rgb(255, 8, 8);
    font-weight: 800;
}

.subqualification_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 2em;
}

.subqualifications {
    width: 100%;
    color: black;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.subqualification_box {
    width: 99%;
    height: 5vh;
    margin-top: 1em;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 .8em;
    cursor: pointer;
}

.subqualification_box:hover, .subqualifications li.selectedSubQualification .subqualification_box:hover {
    background-color: rgba(255, 8, 8, 0.5);
}

.subqualification_id {
    font-weight: 600;
    margin-right: 1em;
    border-right: 1px solid black;
    padding-right: .5em;
}

.subqualification_text {
    letter-spacing: 1px;
}

.subqualifications li.selectedSubQualification .subqualification_text{
    text-decoration: underline solid rgb(255, 8, 8);
}

.selectedsubqualification_box {
    width: 99%;
    height: 5vh;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: darkgrey;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(87, 87, 87);
}
