<div class="container">
    <div class="subjects_container">
        <ul class="subjects">
            <li *ngFor="let subject of s" 
                [class.selectedSubject]="subject === selectedS"
                (click)="onSelectS(subject)">
                {{subject.name}}
            </li>
        </ul>
    </div>
    <div class="lessons_container">
        <div *ngIf="selectedS">
            <div class="lesson_header">{{ selectedS.name }}</div>
            <ul class="lessons">
                <li *ngFor="let lesson of assignedL"
                    [class.selectedLesson]="lesson === selectedL"
                    (click)="onSelectL(lesson)">                    
                    <div class="lesson_box">
                        <div class="lesson_id">{{ lesson.id }}</div> 
                        <div class="lesson_topic">{{ lesson.topic }}</div>
                    </div>  
                    <div *ngIf="selectedL === lesson" class="selectedLesson_box">
                        {{ selectedL.id }}
                    </div> 
                </li>
            </ul>
        </div>
    </div>
</div>



