<header>
    <div class="logo_container_header">  
        <a routerLink="/main"><img src="../assets/images/logo.png" class="logo" alt="Infotech"></a>  
    </div>
    <nav>
        <ul class="navlinks">
            <li><a routerLink="/main" class="navlink">Strona Główna</a></li>
            <li><a routerLink="/subjects" class="navlink">Przedmioty</a></li>
            <li><a routerLink="/qualifications" class="navlink">Kwalifikacje</a></li>
        </ul>
    </nav>
</header>
